#cabecera{background-image: url('images/fondo.jpg');
		height:90px}
a{text-decoration:none}
#mensaje{color:#330000;
    font-family: verdana;
text-shadow: 0.1em #333;}
#botones{background-color:#CCFFCC;
		padding:5px 0px 5px 0px}
.boton{padding:5px 10px 5px 10px}
.boton:hover{background-color:#66CC00;
			color:#660033}
.boton{ padding-top: 5px;}
.alinear{display:inline}
#cepardor{padding:10px 400px 0px 450px}
#botones1{color:#FFFFFF}
.inicio{color:#FFFFFF}
.mensaje{display: none;
		background:red;
		position: absolute}

#ref_login{
color:#000099;
		}

#registrar{
	color:#000099;

}