.cuerpo_plato{
    display: inline-block; 
    }
    
#cuerpo_platos{
    width:50%;
    background-color: #CC9966;
    border: 2px solid;
    height:400px; 
    }
    

#b_plato{
    background: #4682B4;
    border-radius: 10px;
    color: #d7d7d7;
    position: absolute;
    float: right;


    
    
}

#tablita{
    background: #99CC66;
    width:20%;
    border: 2px solid;
    left: 950px;
    top: 300px; 
    float: right;
    position: absolute;
    }
#b_compra_delivery{
    background: #4682B4;
    border-radius: 10px;
    color: #d7d7d7;
    float:right;
}


