.aling{
    display: inline-block; 
}
#tabla_delivery{
    width:40%;
    background-color: red;
    border: 2px solid;
    border-radius: 25px;
}
#detalle_delivery_div{
    width:59%;
    float: right;
    border: 2px solid;
    border-radius: 25px;
    background-color: blue; 
}

