#platos_empresa{
    width:80%;
    height:100px;
    position: absolute;
    left: 150px;
    top: 200px; 

}
#form_nuvo_plato{
	position: absolute;
	text-align: center;
	border: 2px solid;
    border-radius: 30px;
	width:23%;
    height:110px;
	left: 800px;
    top: 270px;
    background-color: #66CC66;
    font-size: arial;
    font-weight: bold;
    float: right;
    
}
#atras_nuevo_plato{

   background: #4682B4;
      border-radius: 10px;
      color: #d7d7d7;
      position: absolute;
      left: 100px;
    top: 90px;
}
#nuevo_plato{
background: #4682B4;
      border-radius: 10px;
      color: #d7d7d7;
      position: absolute;
      left: 150px;
    top: 90px;

}
#subir_foto_emp{
    border: 2px solid;
    border-radius: 25px;
    width:21%;
    height:270px;
    position: absolute;
    left: 360px;
    top: 200px;
}
#b_subir_foto_plato_act{
	 position: absolute;
    left: 95px;
    top: 270px;
    background: #4682B4;
    border-radius: 10px;
    color: #d7d7d7;
    
}