.display{

	width:80%;
    height:100px;
    position: absolute;
    left: 150px;
    top: 200px; 

}

#pedido{
	font-family: verdana;
    text-align: center;
    position: absolute;
    left: 750px;
    top: 150px; 
    text-shadow: 0.1em 0.1em #333;
}